<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="show(schoolClass)" th:remove="tag">
		<div th:if="${schoolClass}">
			<h2 th:text="#{schoolClass.caption.singular}"></h2>
			<table class="table table-striped table-responsive-md">
				<tr>
					<th th:text="#{schoolClass.level}"></th>
					<th th:text="#{schoolClass.name}"></th>
				</tr>
				<tr>
					<td th:text="${schoolClass.level}"></td>
					<td th:text="${schoolClass.name}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>