<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{teacher.caption.plural}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
 		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>    
    	<div class="container">
	    	<h2 th:text="#{department.caption.plural}"></h2>

	        <table class="table table-striped table-responsive-md">
	            <tr>
	                <th th:text="#{department.departmentId}"></th>
	                <th th:text="#{department.name}"></th>
	                <th th:text="#{department.nameShort}"></th>
	                <th th:text="#{department.teacher}"></th>
	                <th style="text-align: right" th:text="#{department.averageCountStudentsBySchoolclass}"></th>
					<th th:text="#{page.actions}"></th>
	            </tr>
	            <tr th:each="department:${departments}">
		            <td th:text="${department.departmentId}"></td>
		            <td th:text="${department.name}"></td>
		            <td th:text="${department.nameShort}"></td>
		            <td th:text="${department.teacher}"></td>
		         <!--   <td style="text-align: right" th:text="${#numbers.formatDecimal(department.averageStudentsCountByClass(),1,2)}"></td> -->
					<td style="text-align: right" th:classappend="${department.averageStudentsCountByClass() < 30} ? 'bg-danger text-white': 'bg-success text-white'"
						th:text="${#numbers.formatDecimal(department.averageStudentsCountByClass(),1,2)}"></td>
				<!--	<td th:classappend="${studentSubject.grade == 5} ? 'bg-danger text-white': 'bg-success text-white'" th:text="variable"></td> -->
					<td>
						<a class="btn btn-primary btn-sm"
						   th:href="@{/mvc/departments/{departmentId}/schoolClasses(departmentId=${department.departmentId})}"
							th:text="#{page.show(#{schoolClass.caption.plural})}">
						</a>
					</td>
	            </tr>
	        </table>
		</div>
    </body>
</html>