<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{schoolClass.caption.plural}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
 		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>    
    	<div class="container">

			<div th:replace="fragments/Department.html :: show(department=${department})"></div>
			<div th:replace="fragments/Teacher.html :: show(teacher=${teacher})"></div>
	    	<h2 th:text="#{schoolClass.caption.plural}"></h2>
	        <table class="table table-striped table-responsive-md">
	            <tr>
	                <th style="text-align: right" th:text="#{schoolClass.schoolClassId}"></th>
	                <th style="text-align: right" th:text="#{schoolClass.level}"></th>
	            	<th style="text-align: right" th:text="#{schoolClass.name}"></th>
					<th th:text="#{schoolClass.department}"></th>
					<th th:text="#{schoolClass.teacher}"></th>
					<th th:text="#{schoolClass.description}"></th>
					<th th:text="#{page.actions}"></th>
	            </tr>
	            <tr th:each="schoolClass:${schoolClasses}">
		            <td style="text-align: right" th:text="${schoolClass.schoolClassId}"></td>
		            <td style="text-align: right" th:text="${schoolClass.level}"></td>
		            <td style="text-align: right" th:text="${schoolClass.name}"></td>
					<td th:text="${schoolClass.department}"></td>
					<td th:text="${schoolClass.teacher}"></td>
					<td th:text="${schoolClass.description}"></td>
					<td>
						<a class="btn btn-warning btn-sm mt-2"
						   th:href="@{/mvc/schoolclasses/addEdit/{schoolClassId}(schoolClassId=${schoolClass.schoolClassId})}"
							th:text="Bearbeiten">
						</a>
						<a class="btn btn-danger btn-sm mt-2"
						   th:href="@{/mvc/schoolclasses/delete/{schoolClassId}(schoolClassId=${schoolClass.schoolClassId})}"
							th:text="Delete">
						</a>
						<a class="btn btn-primary btn-sm mt-2"
						    th:href="@{/mvc/schoolclasses/{schoolClassId}/students(schoolClassId=${schoolClass.schoolClassId})}"
							th:text="#{page.show(#{student.caption.plural})}">
						</a>
						<a class="btn btn-success btn-sm mt-2"
						    th:href="@{/mvc/schoolclasses/{schoolClassId}/events(schoolClassId=${schoolClass.schoolClassId})}"
							th:text="#{page.show(#{event.caption.plural})}">
						</a>
					</td>
	            </tr>
	        </table>
		</div>
    </body>
</html>