<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{student.caption.plural}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
 		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>    
    	<div class="container">
	    	<h2 th:text="#{student.caption.plural}"></h2>

	        <table class="table table-striped table-responsive-md">
	            <tr>
	                <th th:text="#{student.studentId}"></th>
	                <th th:text="#{student.surname}"></th>
	            	<th th:text="#{student.firstname}"></th>
	            	<th th:text="#{student.birthDate}"></th>
	            	<th th:text="#{student.sex}"></th>
	            </tr>
	            <tr th:each="student:${students}">
		            <td th:text="${student.studentId}"></td>
		            <td th:text="${student.surname}"></td>
		            <td th:text="${student.firstname}"></td>
		            <td th:text="${student.birthDate}"></td>
		            <td th:text="${student.sex}"></td>
	            </tr>
	        </table>
		</div>
    </body>
</html>